
header {
    padding-bottom: 15px;
    padding-top: 15px;
    background: #252525;
}
.log a {
    padding-bottom: 17px;
    text-decoration: none;
    color: #b98b3f;
    border-left: 1px solid #747669;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
}
.cart {
    text-align: right;
}
.cart p {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 17px;
    padding-top: 17px;
    border-left: 1px solid;
    display: inline;
    color: #747669;
}
.cart span {
    color: #b98b3f;
}
.bd {
    border-right: 1px solid #747669;
}
.logo {
    margin-bottom: 15px;
    margin-top: 30px;
}
.menu_list {
    margin-top: 40px;
}
.menu_list li a {
    font-weight: bold;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.dr_product {
    position: relative;
}
.dr_product ul {
    top: 50px;
    position: absolute;
}
.picture{
    background-image: url(../images/home_bgr.png);
    width: 100%;
    background-size: cover;
    height: 300px;
    text-align: center;
}
.picture h1 {
    padding-top: 100px;
    font-style: italic;
    font-size: 60px;
    color: #cdc195;
    font-family: -webkit-pictograph;
}
@media only screen and (max-width: 600px) {
    .picture_product {
      height: 210px;
    }
  }
@media only screen and (max-width: 600px) {
    h1.topic {
      font-size: 17px;
    }
  }
footer {
    padding-bottom: 50px;
    margin-top: 30px;
    background: #252525;
}
.information {
    margin-top: 50px;
}
.logo_ft {
    margin-bottom: 20px;
}
.inf {
    color: #90aba8;
}
.about {
    padding-left: 60px;
    margin-top: 50px;
}
.about_title {
    margin-bottom: 45px;
}
.about_title p {
    font-weight: bold;
    color: #b6a56f;
}
.about_content {
    margin-top: 20px;
    color: #90aba8;
}
/* 
.header_small {
    float: left;
    width: 100%;
    background-color: #252525;
}
.log {
    float: left;
    border-left: 1px solid;
}
.log a {
    text-decoration: none;
    display: block;
    color: #747669;
    padding: 20px;  
}
.signup {
    border-right: 1px solid;
}
.icon_header {
    float: right;
    border-left: 1px solid;
}
.icon_header p {
    display: inline;
    color: #747669;
    padding: 20px;
}
.icon_header img {
    padding: 22px;
}
.icon_header p span {
    color: #b98b3f;
}
.ic {
    border-right: 1px solid;
}
.logo {
    float: left;
}
.menu_content {
    float: left;
    margin-top: 55px;
}
.menu_content ul {
    top: 82px;
}
.menu a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
}
.header_big {
    float: left;
    width: 100%;
}
.menu {
    float: right;
}
.picture{
    background-image: url(../images/home_bgr.png);
    width: 100%;
    background-size: cover;
    height: 300px;
    display: flex;
}
.pic_txt {
    margin: auto;
}
.picture p {
    font-family: serif;
    color: #f8e8af;
    font-size: 60px;
    font-style: italic;
}
.title {
    float: left;
    width: 100%;
    background: #f5f5f5;
}
.title p {
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.title span {
    color: #b98b3f;
}
.section {
    margin-top: 80px;
    float: left;
    width: 100%;
}
.footer {
    background: #252525;
    width: 100%;
    float: left;
    margin-top: 20px;
}
.information {
    margin-top: 70px;
    float: left;
}
.inf {
    margin-top: 10px;
    float: left;
}
.inf_icon {
    float: left;
}
.inf_text {
    margin-left: 20px;
    float: left;
}
.inf_text p {
    color: #8ca9aa;
}
.about {
    margin-top: 60px;
}
.about_title {
    color: #c3af84;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 50px;
}
.about_content {
    color: #8ca9aa;
    margin-left: 20%;
    margin-bottom: 30px;
} */