.title {
    padding-bottom: 20px;
    padding-top: 20px;
    background: #f5f5f5;
}
.product {
    margin-top: 80px;
}
.product_category {
    border: 1px solid #e5e5e5;
}
.product_category_title {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: black;
}
.product_category_title p {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 17px;
}
.product_category_content li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.dr_list_item  li{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
    padding-top: 15px;
}
.product_category_content a {
    color: black;
    font-size: 16px;
}
.product_list {
    border-top: 1px solid #e5e5e5;
}
.dr_list {
    position: relative;
}
.dr_list ul {
    top: -2px;
    position: absolute;
    left: 261px;
}
@media only screen and (max-width: 600px) {
    .dr_list ul {
      left: 117px;
    }
  }
.ar1 {
    top: 12px;
    position: absolute;
    right: 10px;
}
.ar2 {
    top: 12px;
    position: absolute;
    right: 10px;
}
.product_hot_title p {
    font-size: 16px;
    font-weight: bold;
}
.product_hot {
    margin-top: 30px;
}
.product_hot_item {
    margin-top: 30px;
}
.hot_item {
    padding-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.hot_txt {
    font-size: 16px;
}
.hot_txt a {
    color: black;
}
.new_price {
    color: #f99b77;
}
.old_price {
    text-decoration: line-through;
    color: #cdd1d0;
}
.img_promotion {
    margin-top: 50px;
}
.sort {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.sort span {
    padding: 10px;
    border: 1px solid #e5e5e5;
}
.sort_category p {
    margin: 0;
}
.sort_btn {
    text-align: right;
}
.home {
    margin-top: 50px;
}
.home_txt {
    margin-top: 20px;
    font-size: 16px;
}
.home_txt a {
    color: black;
}
.home_img {
    position: relative;
}
.home_img img {
    width: 100%;
}
.promotion {
    background: #bda87f;
    top: 20px;
    position: absolute;
    left: 20px;
}
.promotion p {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    color: white;
}
.cost {
    margin-top: 10px;
}
.new_cost {
    color: #f99b77;
}
.old_cost {
    color: #cdd1d0;
    text-decoration: line-through;
}

/* .list_product {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    width: 100%;
}
.list span {
    font-size: 16px;
    color: #fff;
}
.list {
    background: black;
    padding: 20px;
}
.list_item ul {
    top: -21px;
    left: 240px;
}
.list_item li {
    list-style-type: none;
    padding: 9px;
}
.list_item  a {
    text-decoration: none;
    color: black;
}
.item {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.sp1 {
    left: 160px;
}
.sp2 {
    left: 154px;
}
.item span {
    color: teal;
}

.hot_product {
    float: left;
    width: 100%;
}
.hot_item {
    padding-bottom: 30px;
    margin-top: 30px;
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
}
.hot_img {
    float: left;
    width: 25%;
}
.hot_img img {
    width: 100%;
}
.hot_txt {
    float: left;
    width: 73%;
    padding-left: 2%;
}
.hot_txt a {
    color: black;
    font-size: 16px;
}
.hot_txt p {
    color: #f43550;
    margin: 0;
}
.hot_txt span{
    text-decoration: underline;
}
.old_price {
    color: #cccccc;
    text-decoration: line-through;
}
.img_promotion img{
    width: 100%;
    margin-top: 50px;
}
.hot_product_txt {
    font-weight: bold;
    padding-top: 30px;
    margin: 0;
    font-size: 16px;
}
.sort {
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
}
.sort_txt {
    float: left;
}
.sort_txt span {
    border: 1px solid black;
    padding: 5px;
}
.sort_icon {
    float: right;
}
.sort_btn_icon {
    float: left;
    margin: 3px;
}
.sort_btn_icon img {
    border: 1px solid black;
    padding: 5px;
}
.home {
    margin-top: 50px;
}
.home_txt {
    margin-top: 20px;
    float: left;
}
.home_txt a {
    float: left;
    color: black;
}
.home_txt span {
    text-decoration: underline;
}
.home_img {
    position: relative;
}
.promotion {
    background: #bda87f;
    top: 15px;
    position: absolute;
    left: 20px;
}
.promotion p {
    color: #fff;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 17px;
    margin-right: 17px;
}
.new_cost {
    float: left;
    margin-right: 20px;
    color: #f43550;
}
.old_cost p {
    color: #cccccc;
    text-decoration: line-through;
} */