body {
    margin: 0;
    padding: 0;
}
.container {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
}
.header_small {
    display: flex;
    width: 100%;
    background-color: #252525;
}
.log {
    float: left;
    border-left: 1px solid #b5a47c;
}
.log a {
    text-decoration: none;
    display: block;
    color: #b5a47c;
    padding: 30px;  
}
.signup {
    border-right: 1px solid #b5a47c;
}
.icon_header {
    float: right;
    border-left: 1px solid #b5a47c;
    padding: 30px;
}
.icon_header p {
    display: inline;
    color: #747669;
}
.icon_header p span {
    color: #b98b3f;
}
.product {
    border-right: 1px solid #b5a47c;
}
.logo {
    float: left;
}
.menu {
    display: flex;
}
.menu a {
    text-decoration: none;
}
.header_big {
    display: flex;
}
.menu {
    float: right;
}